@media (max-width:1200px) {
	.main-sec {
		margin-left: 0px;
	}

	.dash-menu {
		left: -297px;
	}

	.header {
		width: calc(100% - 0px);
		margin-left: 0px;
	}

	body.resize-menu .dash-menu {
		left: 0px;
		z-index: 99999;
	}

	.dash-menu .dashbord-logo .cross-icon {
		display: block;
	}

	.header .toggle {
		display: block;
	}

	.header .toggle .fa-times:before {
		content: "\f053";
	}

}

@media (max-width:991px) {
	.dash-menu .nav-menu .nav-item .nav-link {
		font-size: 14px;
	}

	.header {
		padding: 10px;
	}

	.dash-menu .dashbord-logo img {
		width: 90px;
	}

	.main-sec {
		margin-top: 100px;
		padding: 0px 20px;
	}

	.dashboard-title {
		font-size: 30px;
		margin-bottom: 10px;
		flex-direction: column;
		align-items: flex-start;
	}

	.thm-btn {
		padding: 8px 20px;
		font-size: 16px;
	}

	.header-fltr .header-fltr-bx {
		display: none;
	}

	.quick-action-card {
		margin-bottom: 10px;
	}

	.activity-img-box img {
		margin-left: 0;
	}

	.dash-card {
		padding: 15px 10px;
	}

	.dash-card h5 {
		font-size: 22px;
	}

	.clear-card span {
		height: 40px;
		width: 40px;
		line-height: 40px;
		font-size: 15px;
	}

}

@media screen and (max-width:767px) {
}

@media(max-width:575px) {
	.btn.btn-sm.rounded-5 {
		padding: 5px !important;
		font-size: 10px !important;
	}

	.custom-table thead th, .custom-table tbody th {
		font-size: 12px;
		font-weight: 500;
	}

	.custom-table tbody td {
		font-size: 12px;
	}

	.custom-table tbody  .img-40 {
		height: 25px;
		width: 25px;
	}

	.app-header-right-side-list li {
		padding: 0 0px;
	}

	.bus-filter .form-control, .bus-filter .form-select {
		margin-bottom: 10px;
	}

	.app-header-right-side .prfl-bar .prfl-bar-img .profle {
		display: none;
	}

}
